<div id="brags" class="card-group">
  <div class="col-sm">
    <div class="card brag brag-delivery">
    <h4>Free Delivery</h4>
    <p>
      Receive your delivery for free on all orders over £50.00
    </p>
    </div>
  </div>

  <div class="col-sm">
    <div class="card brag brag-second">
    <h4>Another Brag</h4>
    <p>
      Some more text to change when i'm with timmy.
    </p>
  </div>
</div>

<div class="col-sm">
  <div class="card brag brag-local">
  <h4>Free Local Delivery</h4>
  <p>
    We offer free local delivery, <a href="#">Check</a> if you qualify.
  </p>
</div>
</div>
</div>
