h1 {
  font-size: 1rem;
  }
h2 {
  font-size: 1.3rem;
  }
h3 {
  font-size: 1.1rem;
  }
h4 {
  font-size: 0.8rem;
  background:babyblue;
  }

#mobile-nav-icon {
  width:100%;
  div {
    img {
        max-width:120px;
    }

      i {
        font-size:2rem;
      }

  }

}
