{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}

    <div class="before-shop-loop">
        {% do action( 'woocommerce_before_shop_loop') %}
    </div>

    <div class="loop col-12">
        {% for post in products %}

            {% include ["blocks/tease-product.twig"] %}

        {% endfor %}
    </div>

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}
