.topbar {
  background:$dark;
  color:#fff;

  li {
    margin-left:10px;
  }

    a {
      color:#fff;

      &:hover {
        color:#f3f;
      }
    }
}

.bg-faded {
  background: $secondary;
  padding:0;

  .navbar-brand {
    img {
      max-width:80px;
    }
  }

  .navbar-nav {
    border-left:1px solid rgba(123,92,12, 0.25);
    padding:0;

    li {
      border:1px solid transparent;
      font-weight: bold;
      padding:5px 0;

    }
  }
}

.cart_box {
  background: $brand-primary;
  text-align: center;
  a {
    color:#fff;
    display:inline-block;
    padding:14px 0;
    position: relative;
    span {
      display: inline-block;
      background: white;
      border-radius: 2px;
      font-size: 10px;
      padding: 4px 5px;
      margin-top: -5px;
      text-transform: uppercase;
      color: black;
      vertical-align: middle;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 22px;
        top: 24px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #fff;
      }
    }

    i {
      font-size:20px;
      margin-right:5px;
    }

    &:hover {
      text-decoration: none;
      span, i {
        color:#632200;

      }

      span
      {
        background:#632200;
        color:$brand-primary;
        &:before {
        border-right-color: #632200;
      }
    }
  }
  }

  #collapseCart {
    color:#fff;
    position: absolute;
    left:0;
    right:0;
    z-index: 1;

    .card {
      background:$brand-primary;
      border:none;
      border-radius:0px;
      color:#fff;
    }
  }
}

#brags {
  margin-top:20px;

  div {
    padding:0px;

    &:nth-child(2) {
      padding:0 10px;
    }
  }
  .brag {
    border:2px solid $secondary;
    border-radius: 2px;
    color: #7b5c0c;
    padding: 15px;
    text-align: center;

    &.brag-local {
      background:$secondary;
      color:#fff;
    }

    h4 {
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom:0;
    }

    p {
      font-size:12px;
      margin-bottom:0;
    }
  }
}
