.loop {
  width:100%;

  article{
    &.product {
      border:1px solid #ccc;


    }
  }
}

 .woocommerce-breadcrumb {
   border-bottom: 1px solid #ececec;
   color: #afafaf;
   font-size: .72em;
   padding: 0 0 10px;
 }

// Single-Product

.single-product-details {

  border-top: 1px solid #ececec;

  .product-images {
    border-right:1px solid #ececec;

    .images {
      position: relative;
      .thumbnails {
        position: absolute;
        bottom:10px;
        img {
          width:30%;
          margin-right:5px;
          border:3px solid $secondary;

          &:nth-child(3) {
            margin-right:0;
          }
        }
      }
    }
  }

  .summary {
    h1 {
      color:$brand-primary;
      font-size:26px;
      margin:20px 0 0;
    }

    .price {
      font-size:14px;
    }

    .cart {
      .quantity {
        display:inline-block;

        input {
          border-radius:2px;
          border:1px solid #ccc;
          padding:5px;
        }
      }
    }

    .single_add_to_cart_button {
      background:$brand-primary;
      color:#fff;
      display:inline-block;
      margin-top:-2px;
      vertical-align: bottom;
    }
  }

  .product-info {
    padding: 10px 0;
    margin-top: 20px;
    border-top: 2px solid #ececec;
  }

  .wc-tabs-wrapper {
    ul {
      margin:0;
      padding:0;
      list-style: none;

      li {
        display:inline-block;
      }
    }
  }
}


.woocommerce-message {
  border-top-color: #8fae1b;
  border-radius: 2px;
  padding: 15px 50px!important;
  background: #8fae1b;
  color: #fff;
  position: relative;

    &:before {
      color:#fff;
    }

    a.button.wc-forward {
      background: #fff;
      color: #8fae1b;
      font-size: 15px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
}
