<!doctype html>
<html {{ function('language_attributes') }}>
    {% include 'blocks/head.twig' %}
    <body {{ function('body_class') }}>
        {% include 'blocks/header.twig' %}
        {% if fn('is_front_page') %}
          {% include 'blocks/carousel.twig' %}
        {% endif %}
        <div class="wrap container" role="document">

          {% include 'blocks/brags.twig' %}
            <div class="content">
                  {% block content %}

                  {% endblock %}
            </div>
        </div>
        {% block footer %}
            {% include 'blocks/footer.twig' %}
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
